/* You can add global styles to this file, and also import other style files */
body {
      padding: 2em 23em;
    margin: 0;
    background: lightgrey;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

#container {
    background-color: rgb(207, 206, 195);
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
    box-shadow: 5px 10px 18px #888888;

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: rgb(216, 211, 211);
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
               
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:rgb(53, 105, 131);
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}

.example-container {
   
    width: 200%;
    height: 100%;
    
    
}